h4
{
    color: black;
}

#makered  {
    border: none;
    color: black;
   
}

#makeorange  {
    border: none;
    color: black;
   
}

#makeyellow  {
    border: none;
    color: black;
   
}

#makegreen  {
    border: none;
    color: black;
   
}

#makeblue  {
    border: none;
    color: black;
   
}

#makepurple  {
    border: none;
    color: black;
   
}

#makelavender  {
    border: none;
    color: black;
   
}